:root {
    --bs-primary: #128c54;
    --bs-primary-rgb: 18, 140, 84;
}
.btn-primary {
    --bs-btn-bg: #128c54;
    --bs-btn-border-color: #128c54;
    --bs-btn-hover-bg: #00ff73;
    --bs-btn-hover-border-color: #00ff73;
    --bs-btn-hover-color: #000;
    --bs-btn-active-bg: #00d15e;
    --bs-btn-active-border-color: #00d15e;
    --bs-btn-active-color: #000;
    --bs-btn-focus-shadow-rgb: 0, 255, 115;

    transition: all 0.2s ease-in-out;
}